// place your custom styles here
@import './palette.scss';

.blog-hero {
    color: $theme-color-8;
}

html[data-theme=dark] {
    a, .toc-link {
        color: #EBF4FF;
    }
}

div[list] {
    text-align: center;
    font-weight: bold;
}