// you can change colors here
$theme-color: #5D76A2;
$theme-color-1: #E8F3FF;
$theme-color-2: #B1C4DC;
$theme-color-3: #8197B9;
$theme-color-4: #586F97;
$theme-color-5: #374C74;
$theme-color-6: $theme-color;
$theme-color-7: #162650;
$theme-color-8: #0F1E4F;
$text-color: (
    light: #030f25,
    dark: #f7f8fa,
);
